{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2>Change Password</h2>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <script>
        setTimeout(function() {
            const messages = document.querySelector('.messages');
            if (messages) {
                messages.style.display = 'none';
            }
        }, 3000); // Adjust the time (in milliseconds) as needed
    </script>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="button-group">
    <button type="submit">Change Password</button>
    <a href="{% url 'dashboard' %}"><button type="button">Back to Dashboard</button></a>
  </div>
</form>
{% endblock %}
