{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<h2>Password Reset</h2>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    <script>
        setTimeout(function() {
            const messages = document.querySelector('.messages');
            if (messages) {
                messages.style.display = 'none';
            }
        }, 3000); // Adjust the time (in milliseconds) as needed
    </script>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Reset Password</button>
</form>
<p><a href="{% url 'login' %}">Back to Login</a></p>
{% endblock %}
